eader {
    background: #007cb6;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #330606;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #640303c2;
    text-decoration: underline;
}
.produtos li:hover {
    border-color: #2f0299de;
}
.produtos li:active {
    border-color: #1b0352;    
}
.produtos li:hover h2 {
    font-size: 34px;
}
